#wrapper
  / Sidebar
  #sidebar-wrapper
    %ul.sidebar-nav
      %li.sidebar-brand
        %a{:href => "#"}
          Bugzilla
      %li
        %a{:href => "#"} Bugs
      %li
        = link_to "User", users_path
  / /#sidebar-wrapper
  / Page Content
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          %h1 Simple Bug Tracking System
          %p With the following features:
          %ul
            %li
              Bugs start out as New.
            %li
              They are then Assigned or Resolved.
            %li
              Assigned bugs are then either Resolved or the ownership is changed.
            %li
              Resolved bugs can be Re-opened, Verified, or Closed.
          %a#menu-toggle.btn.btn-default{:href => "#menu-toggle"} Toggle Menu
  / /#page-content-wrapper
/ /#wrapper
/ Menu Toggle Script
:javascript
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

/
  .container
    .row
      %h3 Users
      .column
        %table.table
          %tbody
            - @users.each do |user|
              %tr
                = render user