/ Sidebar
#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %a{:href => "#"}
        Home
    - if user_signed_in?
      %li
        =link_to 'Bugs', bugs_path
      %li
        =link_to 'User', users_path
/ /#sidebar-wrapper
